@import '../../../styles/variables.scss';

.artwork {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .artwork-info {
        width: 100%;
        margin: 15px 0 0;
        color: $colorSecondary;
    }
}