@import '../../../styles/variables.scss';

.single-view {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    display: flex;
    background-color: $colorSecondary;
    transform: translateX(-100%);
    animation: show_popup .8s forwards;

    .artwork {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-right: 1px solid $colorPrimary;

        @media screen and (min-width: 1024px) {
            flex-direction: row;
            width: 100%;
            height: min-content;
            margin: auto;
        }

        &-image {
            border: 1px solid $colorPrimary;
            flex: 0 0 45%;
    
            &-buttons {
                left: 18px;
    
                .btn-left,
                .btn-right {
                    background-color: $colorSecondary;
                    color: $colorPrimary;
                    border: 1px solid $colorPrimary;
                    border-bottom: none;
    
                    &:hover {
                        background-color: $colorPrimary;
                        color: $colorSecondary;
                    }
                }
    
                .btn-left {
                    border-left: 1px solid $colorPrimary;
                    border-top-left-radius: 6px;
        
                    .btn-counter {
                        margin-right: 10px;
                    }
                }
            }
        }

        &-info {
            flex: 0 0 45%;
            padding: 20px;

            @media screen and (min-width: 1024px) {
                width: 100%;
                padding: 0 0 0 30px;
                align-self: flex-start;
                margin-top: 0;
            }
        }

        &-data {
            flex-direction: column;  

            &-type,
            &-year,
            &-point {
                font-size: 14px;
                color: rgba($colorPrimary, .6);
                border-bottom: 1px solid rgba($colorPrimary, .6);
                padding: 5px 0;

                @media screen and (min-width: 1024px) {
                    font-size: 22px;
                }
            }
        
            &-point {
                text-overflow: ellipsis;
                overflow: hidden; 
                white-space: nowrap;
            }
        }

        &-title {
            font-size: 32px;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: $colorPrimary;

            @media screen and (min-width: 1024px) {
                font-size: 64px;
            }
        }
    }

    &-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: max-content;

        @media screen and (min-width: 1024px) {
            height: auto;
            flex-direction: row;
            // justify-content: center;
            margin: 30px;
        }
    }

    &-close {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        font-size: 64px;
        background-color: transparent;
        color: $colorPrimary;
        border: none;
        align-self: flex-start;
        cursor: pointer;

        @media screen and (min-width: 1024px) {
            width: 120px;
        }

        &:hover {
            .close {
                width: 2px;
            }
        }

        .close {
            width: 1px;
            height: 40px;
            background-color: $colorPrimary;

            @media screen and (min-width: 1024px) {
                height: 60px;
            }

            &-one {
                transform: rotate(-45deg);
            }

            &-two {
                transform: rotate(45deg);
            }
        }
    }

    &-hide {
        animation: hide_popup .6s forwards;
    }
}

@keyframes show_popup {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes hide_popup {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
} 