@import '../../styles/variables.scss';

.artwork-data {
    display: flex;

    &-type,
    &-year,
    &-point {
        font-size: 14px;
        color: rgba($colorPrimary, .6);
        border-right: 2px solid rgba($colorPrimary, .6);
        padding: 0 10px;
        text-align: left;
        cursor: pointer;
    }

    &-type {
        padding: 0 10px 0 0;
    }

    &-point {
        border: none;
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;
    }
}