@import '../../styles/variables.scss';

.artwork-image {
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 1);
    box-shadow: 0px 3px 8px 3px rgb(0, 0, 0, 1);
    border-radius: 3px;

    &-item {
        width: 100%;
        transition: all .6s;
    }

    &-buttons {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        height: 100%;

        .btn-left,
        .btn-right {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 6px 5px;
            background-color: rgba($colorPrimary, .2);
            height: 100%;
            text-align: center;
            transition: all .2s;

            &:hover {
                background-color: rgba($colorPrimary, .6);
            }

            .direction {
                height: 12px;
                width: 8px;
                background-color: rgba($colorSecondary, .6);
            }
        }

        .btn-left {
            border-bottom: 1px solid $colorPrimary;

            .direction {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }

        .btn-right {
            border-top: 1px solid $colorPrimary;

            .direction {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
    }
}