@import '../../styles/variables.scss';

.navigation {
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 1;

    .nav-container {
        max-width: 1440px;
        display: flex;
        margin: 10px 30px;
        flex-direction: column;
        
        @media screen and (min-width: 1024px) {
            width: 100%;
            flex-direction: row;
            align-items: flex-start;
            margin: 50px auto;
        }

        .nav-text {
            width: min-content;
            margin: 0 auto 0 0;
            font-size: 32px;
            background-color: $colorSecondary;
            color: $colorPrimary;
            padding: 0 12px;
        }

        .nav-menu {
            .contact {
                &-container {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    margin-top: 10px;
                    gap: 10px;
                    animation: show-contact .2s forwards;

                    &.move-container {
                        animation: hide-contact .2s forwards;
                    }

                    .item-link {
                        background-color: $colorPrimary;
                        padding: 2px 0 2px 4px;
                    }

                     a {
                        text-decoration: none;
                        color: $colorSecondary;
                     }
                }
            }
        }

        .nav-list {
            display: flex;
            align-items: flex-start;
            list-style-type: none;
            margin-top: 15px;

            @media screen and (min-width: 1024px) {
                margin: 0 0 0 auto;
            }
    
            &-item {
                width: max-content;
                padding: 2px 12px 0 0;
                font-size: 22px;
                color: $colorSecondary;
                background-color: $colorPrimary;
                text-transform: uppercase;
                cursor: pointer;
                transition: all .1s;

                @media screen and (min-width: 1024px) {
                    padding: 2px 12px;
                }

                &:hover,
                &:focus,
                &:active,
                &:focus-visible {
                    color: rgba($colorSecondary, .5);
                }

                &:last-of-type {
                    padding-right: 0;
                }
            }
        }
    }
}

@keyframes show-contact {
    from {
        transform: translateY(-30%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes hide-contact {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-30%);
        opacity: 0;
    }
}